<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

<div layout:fragment="content" th:remove="tag">
	<div th:replace="fragments/components/header :: header"></div>
	<!-- <div th:replace="fragments/components/join :: join"></div> -->
	<div th:if="${stage == '1'}" th:replace="fragments/components/join :: joiningrules"></div>
	<div th:if="${stage == '1A'}" th:replace="fragments/components/join :: additionalDetails"></div>
	<div th:if="${stage == '2'}" th:replace="fragments/components/join :: setAccountPassword"></div>
	<div th:if="${stage == '3'}" th:replace="fragments/components/join :: otpvalidation"></div>
	<div th:if="${stage == 'POST_SUBMIT'}" th:replace="fragments/components/join :: postsubmission"></div>
	<div th:if="${stage == 'MAKE_PAYMENT'}" th:replace="fragments/components/donate :: completePayment"></div>

</div>

</html>