<div class="container-fluid py-5 scroll-margin" th:fragment="join" id="join" data-parallax="scroll"
	data-image-src="img/nbrn/pic5.jpeg">
	<div class="container">
		<div class="row g-5 align-items-center">
			<div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
				<div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Be
					A Part Of Us</div>
				<h1 class="display-6 text-white mb-5">We Welcome You To Join Us
					In This Great Initiative</h1>

			</div>

			<div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">

				<div class="h-100 bg-secondary p-5">
					<form id="JoinUsForm" th:action="@{/signup}" method="post" th:object="${interview}"
						autocomplete="off">
						<div class="row g-3">
							<div class="col-md-6">
								<div class="form-floating">
									<input type="text" class="form-control bg-light border-0" id="firstname"
										placeholder="Your First Name" th:field="*{firstName}"> <label
										for="firstname">Your
										First Name</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-floating">
									<input type="text" class="form-control bg-light border-0" id="lastname"
										placeholder="Your Last Name" th:field="*{lastName}"> <label for="lastname">Your
										Last Name</label>
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating">
									<input type="email" class="form-control bg-light border-0" id="email"
										placeholder="Your Email" th:field="*{email}">
									<label for="email">Your Email</label>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-floating">
									<select class="form-control bg-light border-0" id="phonecode"
										th:field="*{dialCode}">
										<option value="91" selected>+91</option>
										<option value="92">+92</option>
									</select> <label for="phonecode">Code</label>
								</div>
							</div>
							<div class="col-md-10">
								<div class="form-floating">
									<input type="number" class="form-control bg-light border-0" id="mobileno"
										placeholder="Your Mobile Number" th:field="*{contactNumber}"> <label
										for="mobileNo">Your
										Mobile Number</label>
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating">
									<input type="text" class="form-control bg-light border-0" id="location"
										placeholder="Where are you from?" th:field="*{hometown}"> <label
										for="location">Where
										are you from?</label>
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating">
									<textarea rows="4" class="form-control bg-light border-0" id="howDoUKnow"
										placeholder="How did you know about Nabarun?"
										th:field="*{howDoUKnowAboutNabarun}"></textarea>
									<label for="howDoUKnowAboutNabarun">How did you know about
										Nabarun?</label>
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating">
									<textarea rows="4" class="form-control bg-light border-0" id="whyDoUWantToJoin"
										placeholder="Why you want to join Nabarun?"
										th:field="*{reasonForJoining}"></textarea>
									<label for="whyDoUWantToJoin">Why you want to join
										Nabarun?</label>
								</div>
							</div>
							<input type="hidden" name="actionName" id="actionName" th:value="'SUBMIT_BASIC_INFO'">
							<div class="col-12">
								<button type="submit" id="joinNow" class="btn btn-primary px-5" style="height: 60px;">
									Join Now
									<div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
										<i class="fa fa-arrow-right"></i>
									</div>
								</button>
							</div>

						</div>

					</form>

				</div>
			</div>
		</div>
	</div>
</div>



<div class="container-xxl py-5 scroll-margin" th:fragment="joiningrules" id="joiningrules" th:if="${stage == '1'}">
	<div class="container">
		<div class="alert alert-danger" role="alert" th:if="${errorMessage !=null}" th:utext="${errorMessage}"></div>
		<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 1000px;">
			<h1 class="display-6 mb-5">Please Read Rules And Regulations
				Carefully</h1>
		</div>
		<div class="row g-4 justify-content-center">
			<div class="px-2 ">
				<div class="py-2 " th:each="rule,ruleStat : ${rules}">
					<p>
						<b>[[${ruleStat.index +1 }]]. </b>
						[[${rule}]]
					</p>
				</div>
			</div>
			<form th:action="@{/signup}" method="post" th:object="${interview}">
				<input type="hidden" name="actionName" id="actionName" th:value="'ACCEPT_RULES'">
				<div class="d-flex justify-content-center m-2">
					<button class="btn btn-outline-primary py-2 px-3 m-2 w-25 " href="/">
						<div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
							<i class="fa fa-arrow-left"></i>
						</div>
						Disagree
					</button>
					<button type="submit" class="btn btn-outline-primary btn-primary py-2 px-3 m-2 w-25">
						Agree and Continue
						<div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
							<i class="fa fa-arrow-right"></i>
						</div>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>






<div class="container-xxl py-5 scroll-margin" th:fragment="setAccountPassword" id="setAccountPassword"
	th:if="${stage == '2'}">
	<div class="container">
		<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 1000px;">
			<h1 class="display-6 mb-5">Set Login details</h1>
			<p class="mb-0 alert alert-info" th:if="${successMessage !=null}" th:utext="${successMessage}"></p>
		</div>
		<div class="row g-4 justify-content-center">
			<div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
				<div class="h-100 bg-secondary p-5">
					<div class="alert alert-danger" role="alert" th:if="${errorMessage !=null}"
						th:utext="${errorMessage}"></div>
					<!-- <div class="alert alert-success" role="alert" th:text="'Please set your login password. Your password should contain atleast 1 uppercase'"
						></div> -->
					<form id="passwordForm" th:action="@{/signup}" method="post" th:object="${interview}">
						<div class="row g-3">
							<div class="col-12">
								<div class="form-floating">
									<input type="email" class="form-control bg-light border-0" id="loginemail"
										placeholder="Login Email" th:field="*{email}">
									<label for="email">Login Email</label>
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating">
									<input type="password" class="form-control bg-light border-0" id="password"
										placeholder="Login Password" th:field="*{password}">
									<label for="password">Login Password</label>
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating">
									<input type="password" class="form-control bg-light border-0" id="confirmpassword"
										placeholder="Confirm Login Password" th:field="*{confirmPassword}">
									<label for="confirmpassword">Confirm Login Password</label>
								</div>
							</div>
							<input type="hidden" name="actionName" id="actionName" th:value="'SUBMIT_LOGIN_DETAIL'">
							<div class="col-12">

								<button type="submit" id="joinNow" class="btn btn-primary px-5" style="height: 60px;">
									Proceed
									<div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
										<i class="fa fa-arrow-right"></i>
									</div>
								</button>
							</div>

						</div>

					</form>

				</div>
			</div>

		</div>
	</div>
</div>






<div class="container-xxl py-5 scroll-margin" th:fragment="otpvalidation" id="otpvalidation" th:if="${stage == '3'}">
	<div class="container">
		<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 1000px;">
			<h1 class="display-6 mb-5">Verify Email and Submit</h1>
			<p class="mb-0 alert alert-info" th:if="${successMessage !=null}" th:utext="${successMessage}"></p>
			<form th:action="@{/signup}" method="post" th:object="${interview}">
				<input type="hidden" name="actionName" id="actionName" th:value="'RESEND_OTP'">
				<div class="d-flex justify-content-center m-2">
					<button type="submit" class="btn btn-outline-primary btn-primary py-2 px-3 m-2">
						Resend
						<div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
							<i class="fa fa-arrow-right"></i>
						</div>
					</button>
				</div>
			</form>
		</div>
		<div class="row g-4 justify-content-center">

			<div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
				<div class="h-100 bg-secondary p-5">
					<div class="alert alert-danger" role="alert" th:if="${errorMessage !=null}"
						th:utext="${errorMessage}"></div>
					<form id="otpForm" th:action="@{/signup}" method="post" th:object="${interview}">
						<div class="row g-3">
							<div class="col-12">
								<div class="form-floating">
									<input type="password" class="form-control bg-light border-0" id="otp"
										placeholder="One Time Password" th:field="*{onetimePassword}">
									<label for="otp">One Time Password</label>
								</div>
							</div>
							<div class="col-12">
								<div class="g-recaptcha" th:attr="data-sitekey='#{siteKey}'"></div>
							</div>
							<input type="hidden" name="actionName" id="actionName" th:value="'SUBMIT_OTP'">
							<div class="col-12">

								<button type="submit" id="joinNow" class="btn btn-primary px-5" style="height: 60px;">
									Submit
									<div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
										<i class="fa fa-arrow-right"></i>
									</div>
								</button>
							</div>

						</div>

					</form>

				</div>
			</div>

		</div>
	</div>
</div>





<div class="container-xxl py-5 scroll-margin" th:fragment="postsubmission" id="success"
	th:if="${stage == 'POST_SUBMIT'}">
	<div class="container">
		<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 1000px;">
			<h1 class="display-6 mb-5" th:text="'Thank You '+${interview.getFirstName()}"></h1>
			<div class="alert alert-success" role="alert" th:if="${successMessage != null}" th:utext="${successMessage}">
			</div>
			<div class="alert alert-danger" role="alert" th:if="${errorMessage != null}" th:utext="${errorMessage}">
			</div>
		</div>
		<div class="d-flex justify-content-center m-2">
			<a class="btn btn-outline-primary py-2 px-3 m-2 w-25 " href="/">
				<div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
					<i class="fa fa-arrow-left"></i>
				</div>
				Go Back To Home
			</a>
		</div>
		<script type="text/javascript">
			console.log("before");
			window.setTimeout(function () {
				location.href = window.location.origin;
			}, 5 * 60 * 1000);
		</script>
	</div>
</div>